    conda {
            cacheDir = "${launchDir}/conda"
            createOptions = "-c conda-forge -c bioconda -c defaults"
            useMamba = true
        }       

    process {
    
        errorStrategy = {task.attempt < params.maxRetries ? 'retry' : 'ignore'}
        maxRetries = params.maxRetries
        conda = "${projectDir}/assets/env/pilon.yml"

    }