manifest {
    author = 'Thanh Le Viet'
    description = 'Polishing assembly with pilon'
    mainScript = 'main.nf'
    nextflowVersion = '>=21.08.0-edge'
    version = '1.0.0'
}

params {
    sample_sheet = false
    outdir = "${launchDir}/output"
    contigs = false
    short_reads = false
    iterations = 10
    maxRetries = 3
}

profiles {
    conda {
        includeConfig "${projectDir}/assets/config/conda.config"
    }
}